.container {
  width: 376px;
  margin: 0 auto;
  margin-top: 167px;
}
.already {
  position: absolute;
  top: 37px;
  right: 96px;
  font-size: 14px;
  line-height: 19px;
}

.sign {
  color: #fa4a84;
}

.backButton {
  width: 32px;
  height: 32px;
  border: 1px solid red;
  position: absolute;
  left: 64px;
  top: 32px;
}
