.container {
    width: 376px;
    margin: 0 auto;
    margin-top: 167px;
    margin-bottom: 100px;
  }


@media only screen and (max-width: 475px) {
  .container {
    width: 85%;
    margin-top: 147px;
  }
}
