.container {
  width: 419px;
  height: 376px;
  padding: 29px 24px;
  box-shadow: 0 0 1px 0 rgba(131, 151, 171, 0.16),
    0 4px 6px 0 rgba(131, 151, 171, 0.16);
  background-color: white;
  border-radius: 6px;
  position: relative;
  margin-bottom: 28px;
}

.header {
  margin-bottom: 53px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}

.leftContainer img {
  margin-right: 16px;
}

.leftContainer {
  display: flex;
  width: -webkit-fill-available;
}

.leftContainer span {
  color: var(--ash);
  font-size: 14px;
  line-height: 19px;
}

.loader {
  width: 190px;
  height: 6px;
  border-radius: 3px;
  background-color: #eeeff7;
  overflow: hidden;
}

.price {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 1px;
  font-weight: 600;
}

.loader .loaderValue {
  height: 100%;
  background-color: var(--yellow);
  border-radius: 3px;
}

@media only screen and (max-width: 475px) {
  .container {
    width: 95%;
    height: 336px;
  }
  .header {
    margin-bottom: 23px;
  }
  .row {
    margin-top: 36px;
  }
}
